body {
  margin: 0; }

.background {
  background: #F1F1F1; }

/*-----------------*/
.swiper {
  width: 100%;
  height: 100%; }

.swiper-button-next::after, .swiper-button-prev::after {
  content: "" !important; }

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='71' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M70.707 8.707a1 1 0 0 0 0-1.414L64.343.929a1 1 0 1 0-1.414 1.414L68.586 8l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364ZM.337 9H70V7H.336v2Z' fill='%23DCC29C'/%3e%3c/svg%3e") !important;
  background: no-repeat center;
  width: 70px !important;
  right: 0 !important; }
  @media (min-width: 0) and (max-width: 576px) {
    .swiper-button-next {
      display: none !important; } }

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='71' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.293 7.293a1 1 0 0 0 0 1.414l6.364 6.364a1 1 0 0 0 1.414-1.414L2.414 8l5.657-5.657A1 1 0 1 0 6.657.93L.293 7.293ZM70.663 7H1v2h69.664V7Z' fill='%23DCC29C'/%3e%3c/svg%3e") !important;
  background: no-repeat center;
  width: 70px !important;
  left: 0 !important; }
  @media (min-width: 0) and (max-width: 576px) {
    .swiper-button-prev {
      display: none !important; } }

.wrapper_slider_card {
  position: relative;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 0) and (max-width: 576px) {
    .wrapper_slider_card {
      padding: 0; } }
  .wrapper_slider_card p {
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #3A3A3A;
    padding-left: 20px; }
    @media (min-width: 0) and (max-width: 576px) {
      .wrapper_slider_card p {
        text-align: center;
        padding-left: 0; } }
  .wrapper_slider_card h3 {
    padding-left: 20px;
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    color: #3A3A3A; }
    @media (max-width: 576px) {
      .wrapper_slider_card h3 {
        width: 100%;
        padding-left: 0;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px; } }

.wrapper_slider_card_deep {
  display: flex;
  align-items: center;
  background: #F1F1F1; }
  @media (min-width: 992px) {
    .wrapper_slider_card_deep {
      padding: 112px 123px; } }
  @media (max-width: 992px) {
    .wrapper_slider_card_deep {
      padding: 32px 62px 54px 62px; } }
  @media (max-width: 576px) {
    .wrapper_slider_card_deep {
      flex-direction: column;
      padding: 20px 20px 40px 20px; } }

.stars_opinion {
  padding-left: 10px;
  padding-top: 5px; }
  @media (max-width: 576px) {
    .stars_opinion {
      padding-left: 0;
      padding-top: 0; } }

.photo_opinion img {
  border: 1px solid #DCC29C;
  border-radius: 50%; }

.title_opinion {
  display: flex;
  justify-content: center;
  width: 100%; }
  .title_opinion h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    color: #3A3A3A;
    text-transform: uppercase; }

.swiper-pagination {
  background: #ffffff !important;
  bottom: -3px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.swiper-pagination-bullet {
  background: #F1E7D7 !important;
  opacity: 1 !important; }

.swiper-pagination-bullet-active {
  background: #DCC29C !important; }

.wrapper_name {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }
  @media (max-width: 576px) {
    .wrapper_name {
      flex-wrap: wrap;
      justify-content: center; } }

/*-------------*/
.container {
  margin: auto;
  width: 1440px; }
  @media (max-width: 1400px) {
    .container {
      width: 100%; } }
  @media (min-width: 1400px) {
    .container .about_us {
      padding: 100px 205px 160px 205px; }
    .container .how_it_works {
      padding: 0 135px 209px 135px; }
    .container .information {
      padding: 0 102px 200px 102px; }
    .container .location {
      padding: 0 269px 200px 269px; }
    .container .appointment {
      padding: 0 135px 220px 135px; } }
  @media (max-width: 1400px) {
    .container .about_us {
      padding: 100px 32px 120px 32px; }
    .container .how_it_works {
      padding: 0 32px 120px 32px; }
    .container .information {
      padding: 0 68px 98px 68px; }
    .container .location {
      padding: 0 32px 120px 32px; }
    .container .appointment {
      padding: 0 32px 140px 32px; } }
  @media (max-width: 576px) {
    .container .about_us {
      padding: 80px 20px 120px 20px; }
    .container .how_it_works {
      padding: 0 20px 60px 20px; }
    .container .information {
      padding: 0 20px 80px 20px; }
    .container .location {
      padding: 0 20px 0 20px; }
    .container .appointment {
      padding: 0 0 0 0; } }

.icons {
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .icons:hover path {
    stroke: #DCC29C;
    transition: all 0.5s ease-out; }
  .icons:active path {
    stroke: #B09B7D;
    transition: all 0.5s ease-out; }

/*-------------------header-------------------------*/
.header_picture {
  position: relative; }

.header_phone {
  position: absolute;
  right: 10%;
  bottom: -2%;
  z-index: 10;
  border-radius: 50%; }
  .header_phone:hover {
    filter: drop-shadow(0px 4px 20px rgba(217, 194, 155, 0.6));
    transition: all 0.5s ease-out; }
  .header_phone svg path:active {
    fill: #EADAC4; }

.header_information {
  position: absolute;
  top: 20%;
  left: 20px; }
  @media (max-width: 576px) {
    .header_information {
      left: 5px; } }
  .header_information button {
    width: auto; }
  .header_information button:nth-of-type(2) {
    background: none;
    margin-left: 15px; }
    @media (max-width: 576px) {
      .header_information button:nth-of-type(2) {
        margin-left: 5px;
        margin-right: 5px; } }
  .header_information .wrapper_header_buttons {
    display: flex;
    flex-wrap: nowrap; }
  @media (max-width: 576px) {
    .header_information button {
      font-size: 16px;
      height: 46px;
      line-height: 21px; } }
  .header_information h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 68px;
    color: #FCFCFC; }
    @media (max-width: 576px) {
      .header_information h1 {
        font-size: 32px;
        line-height: 38px; } }
  .header_information p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #FCFCFC; }
    @media (max-width: 576px) {
      .header_information p {
        font-size: 16px;
        line-height: 21px; } }

.header_information_position {
  position: absolute; }
  @media (min-width: 992px) {
    .header_information_position {
      left: 135px;
      top: 100px; } }
  @media (max-width: 992px) {
    .header_information_position {
      left: 32px;
      top: 150px; } }
  @media (max-width: 576px) {
    .header_information_position {
      left: 20px;
      bottom: 90px; } }

.header_pagination {
  bottom: -3px !important; }

.header_menu {
  background: #F1F1F1;
  padding: 40px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 1400px) {
    .header_menu {
      padding-left: 135px;
      padding-right: 171px; } }
  @media (max-width: 1400px) {
    .header_menu {
      padding-left: 32px;
      padding-right: 32px; } }
  @media (max-width: 992px) {
    .header_menu {
      padding-left: 32px;
      padding-right: 32px; } }
  @media (max-width: 576px) {
    .header_menu {
      padding-left: 20px;
      padding-right: 20px; } }
  .header_menu .logo {
    display: flex;
    align-items: center; }
  @media (max-width: 992px) {
    .header_menu .wrapper_anchors {
      display: none; } }
  .header_menu .wrapper_anchors .cross {
    display: none;
    padding-top: 10px;
    padding-right: 10px; }
  .header_menu .wrapper_anchors .anchors {
    text-transform: uppercase; }
  .header_menu .wrapper_anchors a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #3A3A3A; }
  .header_menu .wrapper_anchors a:hover {
    opacity: 0.5; }
  .header_menu .wrapper_anchors a:first-child {
    color: #DCC29C; }
  .header_menu .wrapper_anchors a:not(:last-child) {
    margin-right: 10px; }
  .header_menu .language {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #3A3A3A;
    font-family: 'Open Sans', sans-serif; }
    @media (max-width: 576px) {
      .header_menu .language span:nth-of-type(1) {
        display: none; }
      .header_menu .language span:nth-of-type(2) {
        display: none; } }
    .header_menu .language span:nth-of-type(1) {
      margin-right: 10px;
      color: #DCC29C;
      cursor: pointer; }
    .header_menu .language span:nth-of-type(2) {
      margin-right: 78px;
      cursor: pointer; }

.wrapper_slider_header {
  position: relative; }

.button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #FCFCFC;
  background: #DCC29C;
  width: 302px;
  height: 57px;
  border-radius: 2px;
  border: 1px solid #DCC29C;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2); }
  .button:hover {
    box-shadow: 0 0 37px -5px rgba(217, 194, 155, 0.6);
    transition: all 0.5s ease-out; }
  .button:active {
    background: #EADAC4;
    box-shadow: none;
    transition: all 0.5s ease-out; }

.text_about_us {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 30px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  color: #3A3A3A;
  border: 1px solid transparent;
  border-image: linear-gradient(to left top, #F4ECE1 10%, transparent 30%, transparent 70%, #F4ECE1 90%);
  border-image-slice: 1;
  box-sizing: border-box; }
  @media (min-width: 1400px) {
    .text_about_us {
      margin: 0 70px 80px 70px; } }
  @media (max-width: 1400px) {
    .text_about_us {
      margin-bottom: 80px; } }
  @media (max-width: 576px) {
    .text_about_us {
      margin-bottom: 60px;
      padding-left: 0;
      padding-right: 0;
      font-size: 18px;
      line-height: 24px; } }

.text_about_us:before,
.text_about_us:after {
  content: "";
  position: absolute;
  display: block;
  width: 15%;
  height: 30%;
  border: 1px solid #DCC29C; }

.text_about_us:before {
  top: -1px;
  left: -1px;
  border-right: none;
  border-bottom: none; }

.text_about_us:after {
  bottom: -1px;
  right: -1px;
  border-left: none;
  border-top: none; }

.card_one {
  position: relative;
  border: 1px solid transparent;
  border-image: linear-gradient(to left top, #F4ECE1 10%, transparent 30%, transparent 70%, #F4ECE1 90%);
  border-image-slice: 1;
  margin-bottom: 60px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  @media (max-width: 992px) {
    .card_one {
      border: none;
      padding: 0; } }
  @media (max-width: 576px) {
    .card_one {
      flex-direction: column-reverse; } }
  @media (min-width: 992px) {
    .card_one .wrapper_photo {
      width: 33.3%; } }
  @media (max-width: 992px) {
    .card_one .wrapper_photo {
      width: 50%; } }
  @media (max-width: 576px) {
    .card_one .wrapper_photo {
      width: 100%; } }
  @media (min-width: 992px) {
    .card_one .text_card_one {
      width: 66.6%; } }
  @media (max-width: 992px) {
    .card_one .text_card_one {
      width: 50%; } }
  @media (max-width: 576px) {
    .card_one .text_card_one {
      margin-bottom: 30px;
      width: 100%; } }
  .card_one .text_card_one h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    color: #3A3A3A;
    margin-bottom: 10px; }
  .card_one .text_card_one .text_one_description, .card_one .text_card_one .button_card_one {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; }
  .card_one .text_card_one .text_one_description {
    color: #898989;
    margin-bottom: 10px; }
  .card_one .text_card_one .button_card_one {
    border: none;
    color: #DCC29C;
    background: #ffffff;
    padding-left: 0;
    cursor: pointer; }
  .card_one .text_card_one .button_card_one:hover {
    color: #B09B7D; }
  .card_one .text_card_one .button_card_one:active {
    color: #84745E; }
  .card_one .text_one {
    padding-left: 30px; }
    @media (max-width: 576px) {
      .card_one .text_one {
        padding: 0; } }
  .card_one .text_two {
    padding-left: 0;
    padding-right: 30px; }
    @media (max-width: 576px) {
      .card_one .text_two {
        padding: 0; } }

.card_one:before,
.card_one:after {
  content: "";
  position: absolute;
  display: block;
  width: 15%;
  height: 30%;
  border: 1px solid #DCC29C; }
  @media (max-width: 1400px) {
    .card_one:before,
    .card_one:after {
      border: none; } }

.card_one:before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none; }

.card_one:after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none; }

.button_wrapper {
  display: flex;
  justify-content: center; }

@media (max-width: 576px) {
  .card_two {
    flex-direction: column; } }
@media (min-width: 1400px) {
  .card_two .cover img {
    margin-left: -30px; } }

.text_how_it_works {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 163px;
  padding: 30px 30px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  color: #3A3A3A;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-image: linear-gradient(to left top, #F4ECE1 10%, transparent 30%, transparent 70%, #F4ECE1 90%);
  border-image-slice: 1; }
  @media (min-width: 1400px) {
    .text_how_it_works {
      margin: 0 140px 80px 140px; } }
  @media (max-width: 1400px) {
    .text_how_it_works {
      margin: 0 0 80px 0;
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 576px) {
    .text_how_it_works {
      margin: 0 0 80px 0;
      padding: 0;
      text-align: left;
      font-size: 18px;
      line-height: 24px;
      border: none; } }

.text_how_it_works:before,
.text_how_it_works:after {
  content: "";
  position: absolute;
  display: block;
  width: 15%;
  height: 30%;
  border: 1px solid #DCC29C; }

.text_how_it_works:before {
  top: -1px;
  left: -1px;
  border-right: none;
  border-bottom: none; }
  @media (max-width: 576px) {
    .text_how_it_works:before {
      border: none; } }

.text_how_it_works:after {
  bottom: -1px;
  right: -1px;
  border-left: none;
  border-top: none; }
  @media (max-width: 576px) {
    .text_how_it_works:after {
      border: none; } }

.big_card {
  display: flex;
  flex-wrap: wrap; }

.cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.title_wrapper {
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 576px) {
    .title_wrapper {
      margin-left: 62px; } }
  .title_wrapper .title_wrapper_deep {
    display: flex;
    margin-top: 59px;
    margin-bottom: 35px; }
    @media (max-width: 576px) {
      .title_wrapper .title_wrapper_deep {
        margin-bottom: 40px;
        margin-top: 0; } }
  .title_wrapper .title {
    position: relative;
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    color: #DCC29C;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
    .title_wrapper .title::before {
      position: absolute;
      top: 50%;
      left: -62px;
      content: "";
      display: flex;
      width: 50px;
      height: 1px;
      background: #DCC29C; }

@media (min-width: 992px) {
  .wrapper_left_part {
    width: 50%; } }
@media (max-width: 992px) {
  .wrapper_left_part {
    width: 100%; } }
@media (max-width: 576px) {
  .wrapper_left_part {
    width: 100%; } }

.left_part {
  padding-right: 15px; }
  .left_part .total_wrapper_card {
    width: 100%; }
  @media (max-width: 992px) {
    .left_part {
      padding-right: 0; } }

@media (min-width: 992px) {
  .wrapper_right_part {
    width: 50%;
    display: flex;
    align-items: center; } }
@media (max-width: 992px) {
  .wrapper_right_part {
    width: 100%; } }
@media (max-width: 576px) {
  .wrapper_right_part {
    width: 100%; } }

.right_part {
  padding: 15px 15px;
  border: 1px solid #DCC29C; }
  .right_part img {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2); }

.wrapper_card {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 576px) {
    .wrapper_card {
      flex-direction: column-reverse; } }

.button2 {
  border: none;
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #DCC29C;
  padding: 0;
  cursor: pointer; }
  .button2:hover {
    color: #B09B7D;
    transition: all 0.5s ease-out; }
  .button2:active {
    color: #84745E;
    transition: all 0.5s ease-out; }

.wrapper_text {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end; }
  .wrapper_text .wrapper_text_deep {
    position: relative; }
    .wrapper_text .wrapper_text_deep .button2::before {
      position: absolute;
      top: 50%;
      left: -33px;
      content: "";
      display: flex;
      width: 25px;
      height: 1px;
      background: #DCC29C; }
  @media (max-width: 576px) {
    .wrapper_text {
      justify-content: flex-start;
      margin-top: 16px;
      margin-left: 33px; } }

.main_wrapper_card {
  display: flex;
  margin-bottom: 60px;
  min-height: 120px; }
  @media (max-width: 576px) {
    .main_wrapper_card {
      flex-direction: column; }
    .main_wrapper_card .number {
      text-align: center; } }

.text_1 {
  font-family: 'Cormorant Garamond', serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #3A3A3A;
  margin-bottom: 8px; }
  @media (min-width: 0) and (max-width: 576px) {
    .text_1 {
      margin-bottom: 16px; } }

.text_2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #898989; }
  @media (max-width: 576px) {
    .text_2 {
      font-size: 14px;
      font-weight: 300;
      line-height: 19px; } }

.text3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #DCC29C;
  white-space: nowrap;
  padding-top: 10px; }
  @media (max-width: 576px) {
    .text3 {
      padding-bottom: 8px;
      padding-top: 0; } }

.number_wrapper {
  display: flex;
  justify-content: center; }
  @media (max-width: 576px) {
    .number_wrapper {
      margin-bottom: 24px; } }

.number {
  padding-right: 40px;
  position: relative;
  font-family: 'Cormorant Garamond', serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-weight: 400;
  position: relative;
  font-style: normal;
  font-size: 40px;
  line-height: 48px;
  color: #DCC29C; }
  @media (max-width: 576px) {
    .number {
      padding-right: 0;
      padding-bottom: 8px;
      width: 120px; } }
  .number::after {
    padding-left: 20px;
    position: absolute;
    top: 40%;
    left: 0;
    content: "";
    display: flex;
    width: 100px;
    height: 1px;
    background: #DCC29C;
    transform: rotate(90deg); }
    @media (max-width: 576px) {
      .number::after {
        transform: rotate(180deg);
        bottom: 0;
        top: unset; } }

@media (min-width: 993px) {
  .menu {
    display: none; } }

.fa-bars {
  color: #3A3A3A;
  cursor: pointer; }

.information {
  align-items: center;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 992px) {
    .information {
      flex-direction: column-reverse; } }
  @media (min-width: 992px) {
    .information .wrapper_information_right_part {
      width: 50%; } }
  @media (max-width: 992px) {
    .information .wrapper_information_right_part {
      margin-bottom: 100px;
      width: 100%;
      padding-right: 0;
      padding-left: 0; } }
  @media (max-width: 576px) {
    .information .wrapper_information_right_part {
      margin-bottom: 60px;
      width: 100%;
      padding-right: 0;
      padding-left: 0; } }
  .information .information_right_part {
    padding-left: 30px; }
    @media (max-width: 992px) {
      .information .information_right_part {
        padding-left: 0; } }
    .information .information_right_part p {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-top: 16px;
      font-family: 'Open Sans', sans-serif; }
    @media (max-width: 576px) {
      .information .information_right_part p {
        font-size: 16px;
        line-height: 21px; } }
    .information .information_right_part h3 {
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      color: #DCC29C;
      margin-bottom: 12px;
      font-family: 'Cormorant Garamond', serif; }
  @media (min-width: 992px) {
    .information .wrapper_information_left_part {
      width: 50%; } }
  @media (max-width: 992px) {
    .information .wrapper_information_left_part {
      width: 100%; } }
  @media (max-width: 576px) {
    .information .wrapper_information_left_part {
      width: 100%; } }
  @media (max-width: 576px) {
    .information .button_information {
      margin-top: 36px; } }
  @media (min-width: 576px) {
    .information .button_information {
      margin-top: 64px; } }
  .information .information_photo {
    position: relative; }
    .information .information_photo img {
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2); }
    .information .information_photo:before, .information .information_photo:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      border-image: linear-gradient(to left top, #F4ECE1 30%, transparent 40%, transparent 70%, #F4ECE1 90%);
      border-image-slice: 1; }
    .information .information_photo:before {
      top: -20px;
      left: -22px;
      border-bottom: none; }
    .information .information_photo:after {
      bottom: -20px;
      right: 20px;
      border-top: none; }
    @media (min-width: 0) and (max-width: 576px) {
      .information .information_photo:before {
        top: -15px;
        left: -7px; }
      .information .information_photo:after {
        right: 5px;
        bottom: -15px; }
      .information .information_photo img {
        margin-left: 5px; } }

/*-------------------footer-------------------------*/
.social_icon {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px; }
  .social_icon a {
    text-decoration: none; }
  .social_icon :not(:last-child) {
    margin-right: 16px; }
  @media (max-width: 576px) {
    .social_icon {
      margin-bottom: 52px; } }
  .social_icon img {
    margin-right: 18px; }
  .social_icon img:last-child {
    margin-right: 0; }

.footer_content {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 45px;
  background: #F1F1F1; }
  @media (min-width: 992px) {
    .footer_content {
      padding-left: 135px;
      padding-right: 141px; } }
  @media (min-width: 992px) {
    .footer_content {
      padding-left: 135px;
      padding-right: 141px; } }
  @media (max-width: 992px) {
    .footer_content {
      grid-template-columns: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      padding-right: 32px;
      padding-left: 32px; }
    .footer_content .column {
      width: 33.3%; } }
  @media (max-width: 576px) {
    .footer_content {
      display: flex;
      grid-template-columns: none;
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0; }
    .footer_content .column {
      width: 100%; } }
  .footer_content .upper_text {
    text-transform: uppercase; }
  .footer_content ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    @media (max-width: 576px) {
      .footer_content ul {
        text-align: center; } }
    .footer_content ul :first-child {
      white-space: nowrap;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      color: #3A3A3A;
      margin-bottom: 32px;
      margin-top: 4px;
      font-family: 'Open Sans', sans-serif; }
    .footer_content ul li:first-child {
      text-transform: uppercase; }
    .footer_content ul :not(:first-child) a {
      text-decoration: none;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 19px;
      color: #3A3A3A;
      font-family: 'Open Sans', sans-serif; }
    .footer_content ul :not(:first-child) a:hover {
      text-decoration: underline; }
    .footer_content ul :not(:first-child) {
      margin-bottom: 28px;
      text-decoration: none;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 19px;
      color: #3A3A3A;
      font-family: 'Open Sans', sans-serif; }
    @media (max-width: 576px) {
      .footer_content ul {
        text-align: center;
        margin-bottom: 36px; }
      .footer_content ul :first-child {
        margin-bottom: 16px;
        margin-top: 0; }
      .footer_content ul :not(:first-child) {
        margin-bottom: 12px; } }
  @media (max-width: 576px) {
    .footer_content .footer_logo {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .footer_content .privat {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6; }
    .footer_content .privat div:nth-of-type(2) {
      display: none; }
    .footer_content .privat div {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 19px;
      color: #898989;
      font-family: 'Open Sans', sans-serif; }
      .footer_content .privat div span {
        padding-left: 93px; }
    @media (min-width: 992px) {
      .footer_content .privat {
        margin-bottom: 28px; } }
    @media (max-width: 992px) {
      .footer_content .privat {
        margin-bottom: 33px; } }
    @media (max-width: 576px) {
      .footer_content .privat {
        justify-content: center; }
      .footer_content .privat div {
        text-align: center;
        width: 100%; }
      .footer_content .privat div span {
        display: none; }
      .footer_content .privat div:nth-of-type(2) {
        display: flex;
        justify-content: center;
        margin-bottom: 60px; } }

/*-----------------------------------------------------------------------*/
.location {
  min-height: 483px; }
  .location .wrapper_phone_number {
    display: flex;
    align-items: center; }
    @media (max-width: 576px) {
      .location .wrapper_phone_number {
        justify-content: center; } }
  .location h3 {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 35px; }
  .location .location_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    @media (min-width: 768px) {
      .location .location_card .wrapper_location_right_part {
        width: 33.3%; } }
    @media (max-width: 768px) {
      .location .location_card .wrapper_location_right_part {
        width: 40%; } }
    @media (max-width: 576px) {
      .location .location_card .wrapper_location_right_part {
        width: 100%; } }
    @media (min-width: 992px) {
      .location .location_card .location_right_part {
        padding-left: 20%; } }
    @media (max-width: 992px) {
      .location .location_card .location_right_part {
        padding-left: 20%; } }
    @media (max-width: 768px) {
      .location .location_card .location_right_part {
        padding-left: 10%; } }
    @media (max-width: 576px) {
      .location .location_card .location_right_part {
        margin-bottom: 46px;
        padding-left: 0; } }
    @media (min-width: 768px) {
      .location .location_card .wrapper_location_left_part {
        width: 66.6%; } }
    @media (max-width: 768px) {
      .location .location_card .wrapper_location_left_part {
        width: 60%; } }
    @media (max-width: 576px) {
      .location .location_card .wrapper_location_left_part {
        width: 100%; } }
    @media (min-width: 1400px) {
      .location .location_card {
        justify-content: space-between; } }
    @media (max-width: 1400px) {
      .location .location_card {
        justify-content: space-between; } }
    @media (max-width: 576px) {
      .location .location_card {
        flex-direction: column-reverse; } }
    .location .location_card .wrapper_map {
      display: flex;
      flex-direction: column; }
      .location .location_card .wrapper_map .button2 {
        display: flex;
        justify-content: flex-start;
        margin-top: 0; }
      @media (max-width: 576px) {
        .location .location_card .wrapper_map {
          justify-content: center; }
        .location .location_card .wrapper_map .button2 {
          justify-content: center; } }
    .location .location_card .location_right_part div {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      color: #3A3A3A;
      font-size: 18px;
      line-height: 25px; }
      @media (max-width: 576px) {
        .location .location_card .location_right_part div {
          text-align: center; } }
    .location .location_card .location_right_part p {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #898989;
      margin-bottom: 0; }
    .location .location_card .location_right_part p:nth-of-type(1) {
      margin-top: 12px; }
    .location .location_card .location_right_part p:nth-of-type(2) {
      margin-top: 8px; }
    .location .location_card .location_right_part div:not(:last-child) {
      margin-bottom: 28px; }

/*--------------------------------------*/
.opinion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (max-width: 992px) {
    .opinion {
      padding: 0 20px; } }
  @media (max-width: 576px) {
    .opinion {
      padding: 0 20px; } }

@media (min-width: 992px) {
  .wrapper_my_slider {
    width: 75%; } }
@media (max-width: 992px) {
  .wrapper_my_slider {
    width: 100%; } }
@media (max-width: 576px) {
  .wrapper_my_slider {
    width: 100%; } }

/*------footer-menu-*/
.arrow {
  margin-bottom: 0 !important;
  display: none; }
  @media (max-width: 576px) {
    .arrow {
      display: inline; } }

.accordion {
  transition: 0.4s; }
  @media (min-width: 576px) {
    .accordion {
      transition: none; } }

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }
  @media (min-width: 576px) {
    .panel {
      max-height: 100%;
      overflow: visible; } }

/*------end footer menu-*/
::-webkit-calendar-picker-indicator {
  background: url(/img/arrow.svg) no-repeat center right; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"] {
  height: 16px;
  border: 1px solid #DCC29C;
  border-radius: 4px;
  padding: 16px 16px;
  width: calc(100% -  2*17px);
  margin-bottom: 16px; }
  @media (min-width: 992px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="time"] {
      margin-bottom: 32px; } }
  @media (max-width: 992px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="time"] {
      margin-bottom: 20px; } }
  @media (max-width: 576px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="time"] {
      margin-bottom: 16px; } }

.wrapper_calendar, .wrapper_time {
  position: relative; }

.calendar, .time {
  position: absolute;
  top: 16px;
  left: 16px; }

.arrow_appointment {
  position: absolute;
  top: calc(22px);
  right: 16px; }

@media (min-width: 576px) {
  .comment {
    padding-bottom: calc(98px) !important; } }
@media (max-width: 576px) {
  .comment {
    display: none; } }

.wrapper_form {
  background: #F1F1F1;
  padding: 20px 20px; }
  @media (min-width: 992px) {
    .wrapper_form {
      display: flex;
      flex-wrap: wrap;
      padding-left: 135px;
      padding-right: 135px; }
    .wrapper_form .right_part_appointment {
      width: calc(50% - 15px);
      padding-left: 15px; }
    .wrapper_form .left_part_appointment {
      width: calc(50% - 15px);
      padding-right: 15px; } }
  @media (max-width: 992px) {
    .wrapper_form {
      padding-left: 70px;
      padding-right: 70px; } }
  @media (max-width: 576px) {
    .wrapper_form {
      padding-left: 20px;
      padding-right: 20px; } }

.appointment h3 {
  text-align: center;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin: 0;
  padding: 60px 0  20px 0; }
  @media (min-width: 576px) {
    .appointment h3 {
      background: #F1F1F1; } }

.submit {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 992px) {
    .submit {
      width: 100%; } }
  .submit label {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em; }
  .submit .submit_column {
    width: 100%; }
  .submit .submit_column:not(:last-child) {
    margin-bottom: 10px; }

.button_submit {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px; }

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none; }

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #DCC29C;
  border-radius: 4px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center; }

.custom-checkbox:checked + label::before {
  background-color: #F1F1F1;
  background-image: url(../img/vector.svg); }

/*# sourceMappingURL=main.css.map */
